<!-- footer.ejs -->
<footer
  class="position-absolute left-50 bottom-0 w-100 text-center p-2 bg-dark"
>
  <div class="d-flex justify-content-center align-items-center text-white">
    Stock Trading Portal &copy; <%= new Date().getFullYear() %>
  </div>
</footer>
